
.question-item{
  cursor: pointer;
  padding: 5px;
  outline: none;
}

.question-item:not(:last-child){
  margin-bottom: 5px;
}

.question-item.completed{
  background-color: #dff4d5;
  color: black;
}

.question-item.not-applicable{
  background-color: #cecece;
  color: #8e8e8e;
}

.question-item.selected{
  background-color: #f1f1f1;
  color: black;
}

.clear-button{
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-wrapper{
  padding: 5px 10px 1px 20px;
  display: flex;
  align-items: center;
}

.filter-field{
  width: 100%;
  margin-right: 10px;
}

.active-item{
  color: #4d76c9;
}

:host{
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.active-header{
  background: #ebf1f5!important;
}

.collapse-menu-content{
  padding: 10px 20px;
}

.sub-menu-content{
  padding-top: 5px;
}
/*1px more to prevent scroll on float calculations*/
.accordion-wrapper{
  height: calc(100% - 71px);
  overflow: scroll;
}

.toggle-collapse-button{
  border: 0;
  outline: none;
  cursor: pointer;
  padding: 10px;
}

.toggle-collapse-button .mat-expansion-indicator{
  height: 20px;
  width: 8px;
  display: inline-block;
  transition: 0.3s;
}

i{
  color: rgba(0,0,0,.54);
}

.toggle-collapse-button i {
  font-size: 20px;
}

.mat-expansion-panel-header-description{
  align-items: center;
  justify-content: space-between;
}


.applicable-toggle-button {
  border-radius: 4px;
  width: auto;
  padding: 4px;
  min-width: 0;
  line-height: inherit;
}

.applicable-toggle-button .mat-button-ripple-round {
  border-radius: 4px !important;
}

.filter-button-icon.green{
  color: #97d67b;
}

.filter-button-icon.red{
  color: #cc0033;
}

.loading-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, .3);
  transition: 0.15s;
  display: flex;
  align-items: center;
  justify-content: center;
}
