/*.question-item:not(:last-child){*/
  /*padding-bottom: 10px;*/
  /*cursor: pointer;*/
/*}*/

.question-item{
  cursor: pointer;
  padding: 5px;
  background-color: #f1f1f1;
  outline: none;
}
.question-item:not(:last-child){
  border-bottom: 1px solid grey;
}

.question-item.completed{
  background-color: #dff4d5;
}

.clear-button{
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-wrapper{
  padding: 5px 10px 1px;
}

.filter-field{
  width: 100%;
}

.active-item{
  color: #4d76c9;
}

.collapse-menu-content{
  padding: 10px;
}
