<div class="filter-wrapper" (click)="preventCollapse($event)">
  <mat-form-field class="filter-field">
    <input matInput type="text" placeholder="Search" [formControl]="filterFormControl">
    <button class="clear-button"
            mat-button
            *ngIf="!filtering && filterFormControl.value"
            matSuffix
            mat-icon-button
            aria-label="Clear" (click)="clearFilter()">
      <i class="fas fa-times"></i>
    </button>
    <i *ngIf="!filterFormControl.value" class="fas fa-search" matSuffix></i>
  </mat-form-field>
  <button mat-icon-button [matMenuTriggerFor]="menuPanel">
    <i class="fas fa-filter filter-button-icon" [ngClass]="activeFilterItem.colorClass"></i>
  </button>
  <mat-menu #menuPanel="matMenu">
    <button mat-menu-item *ngFor="let item of filterMenuItems" (click)="setActiveFilterItem(item)">
      {{item.text}}
    </button>
  </mat-menu>
  <button class="toggle-collapse-button" (click)="toggleCollapse()">
    <i class="fas" [ngClass]="{'fa-chevron-down': expandedMode, 'fa-chevron-up': !expandedMode}"></i>
  </button>
</div>

<div class="accordion-wrapper">
  <mat-accordion displayMode="flat" [multi]="expandedMode">
    <mat-expansion-panel *ngFor="let menuItem of displayedMenu"
                         [expanded]="menuItem.expanded"
                         (opened)="menuItem.expanded = true;"
                         (closed)="menuItem.expanded = false;">
      <mat-expansion-panel-header collapsedHeight="60px" expandedHeight="60px"
                                  [ngClass]="{'active-header': menuItem.expanded}">
        <mat-panel-description>
          <div [ngClass]="{'active-item': menuItem.expanded}">{{menuItem.name | uppercase}}</div>

          <button class="applicable-toggle-button"
                  matTooltipClass="applicable-tooltip"
                  mat-button
                  matTooltip="{{!menuItem.not_applicable ? 'Make not applicable' : 'Make applicable'}}"
                  (click)="toggleApplicable($event, menuItem.not_applicable, menuItem)"
                  aria-label="Toggle applicable state"
                  [ngClass]="{'mm_active': menuItem.not_applicable, '': !menuItem.not_applicable}">
            N/A
          </button>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div [ngSwitch]="menuItem.sub_areas.length > 0">
        <div *ngSwitchCase="true" class="sub-menu-content">
          <mat-accordion displayMode="flat" [multi]="expandedMode">
            <mat-expansion-panel *ngFor="let subMenuItem of menuItem.sub_areas"
                                 [expanded]="subMenuItem.expanded"
                                 (opened)="subMenuItem.expanded = true"
                                 (closed)="subMenuItem.expanded = false">
              <mat-expansion-panel-header collapsedHeight="45px" expandedHeight="45px"
                                          [ngClass]="{'active-header': subMenuItem.expanded}">
                <mat-panel-description>
                  <div>
                    {{subMenuItem.name}}
                  </div>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <div class="collapse-menu-content">
                <div class="question-item"
                     [ngClass]="{
                          completed: question.is_complete,
                          'not-applicable': question.not_applicable,
                          selected: question === getSelectedQuestion()
                      }"
                     *ngFor="let question of subMenuItem.questions"
                     (click)="setSelectedQuestion(question)"
                     routerLink="/answer/{{question.answer_id}}">
                  {{question.display_code + ' ' + question.name}}
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div *ngSwitchCase="false">
          <div class="collapse-menu-content" *ngIf="(menuItem.questions && menuItem.questions.length > 0)">
            <div class="question-item"
                 (click)="setSelectedQuestion(question)"
                 [ngClass]="{
                      completed: question.is_complete,
                      'not-applicable': question.not_applicable,
                      selected: question === getSelectedQuestion()
                  }"
                 *ngFor="let question of menuItem.questions"
                 routerLink="/answer/{{question.answer_id}}">
              {{question.display_code + ' ' + question.name}}
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
