<div class="filter-wrapper">
  <mat-form-field class="filter-field">
    <input matInput type="text" placeholder="Filter" [formControl]="filterFormControl">
    <button class="clear-button"
            mat-button
            *ngIf="filterFormControl.value"
            matSuffix
            mat-icon-button
            aria-label="Clear" (click)="clearFilter()">
      x
    </button>
  </mat-form-field>
</div>
<mat-accordion displayMode="flat">
  <mat-expansion-panel *ngFor="let menuItem of menu">
    <mat-expansion-panel-header collapsedHeight="45px" expandedHeight="45px">
      <mat-panel-description>
        {{menuItem.name | uppercase}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div [ngSwitch]="!!menuItem.sub_areas">
      <mat-accordion displayMode="flat" *ngSwitchCase="true">
        <mat-expansion-panel *ngFor="let subMenuItem of menuItem.sub_areas">
          <mat-expansion-panel-header collapsedHeight="45px" expandedHeight="45px">
            <mat-panel-description>
              {{subMenuItem.name | uppercase}}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="question-item"
               *ngFor="let question of subMenuItem.questions"
               routerLink="/answer/{{question.answer_id}}">
            {{question.display_code + ' ' + question.name}}
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <div *ngSwitchCase="false">
        <div class="question-item"
             *ngFor="let question of menuItem.questions"
             routerLink="/answer/{{question.answer_id}}">
          {{question.display_code + ' ' + question.name}}
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
