.checklist-item,
.compliance-option {
  display: block;
}

.answer-details-wrapper {
  padding: 30px 30px 30px 60px;
}

.title {
  font-weight: bold;
  margin-bottom: 30px;
}

.checklist-items {
  padding-left: 60px;
  margin-bottom: 40px;
}

.checklist-item, .compliance-option {
  margin-bottom: 20px;
}

.answer-details-wrapper /deep/ .mat-checkbox-layout {
  white-space: normal;
}

.answer-details-wrapper /deep/ .mat-checkbox-layout .mat-checkbox-label {
  line-height: normal;
}

.answer-details-wrapper /deep/ .mat-checkbox-inner-container{
  margin-top: 0;
}

.question-text, .answer-code, .compliance-options {
  margin-bottom: 40px;
}

.full-width {
  width: 100%;
}

.observation-input {
  height: 150px;
}

.sub-toolbar {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.sub-toolbar-title {
  flex-grow: 1;
  font-weight: bold;
}

.buttons .app-button:not(:last-child) {
  margin-right: 10px;
}

.checkbox-options-form.one-column-grid {
 column-count: 1;
}

.checkbox-options-form.two-column-grid {
  column-count: 2;
}

.checkbox-options-form.three-column-grid {
  column-count: 3;
}
