<div class="answer-details-wrapper" *ngIf="answer">

  <div class="sub-toolbar">
    <div class="sub-toolbar-title">{{answer.question_code}}</div>
    <div class="buttons">
      <button class="app-button" #tooltipButton (click)="toggleTooltip()" *ngIf="answer.indicator_text">View indicator</button>
      <button class="app-button" *ngIf="!answer.is_complete" (click)="markAsComplete()">Mark as complete</button>
    </div>
  </div>
  <div class="question-text">{{answer.question_text}}</div>
  <div class="checklist-items">
    <form [formGroup]="checklistItemsForm">
      <mat-checkbox [formControl]="item"
                    [color]="'primary'"
                    class="checklist-item"
                    *ngFor="let item of checklistItems.controls; let i=index"
                    value="{{item.id}}">
        {{answer.all_checklist_items[i].name}}
      </mat-checkbox>
    </form>
  </div>
  <div class="indicator-compliance" *ngIf="answer.all_compliance_options">
    <div class="title">Indicator compliance</div>
    <div class="compliance-options">
      <form [formGroup]="complianceOptionForm">
        <mat-radio-group formControlName="compliance_option">
          <mat-radio-button class="compliance-option"
                            [color]="'primary'"
                            *ngFor="let option of answer.all_compliance_options"
                            value="{{option.id}}">
            {{option.name}}
          </mat-radio-button>
        </mat-radio-group>
      </form>
    </div>
  </div>
  <div class="title">Observations and opportunities for improvements</div>
  <form [formGroup]="observationFrom">
    <mat-form-field class="full-width observation">
      <textarea class="observation-input" formControlName="observation" matInput></textarea>
    </mat-form-field>
  </form>
</div>
