:host{
  display: flex;
  height: 55px;
  background: #ebf1f5;
}

.header{
  flex-grow: 1;
  font-size: 24px;
  color: #4d76c9;
  display: flex;
  align-items: center;
  padding-left: 35px;
}

.details{
  display: flex;
  align-items: center;
  font-size: 13px;
  font-family: "Helvetica", sans-serif;
}

.details-title{
  color: #868686;
  font-weight: bold;
  margin-right: 5px;
}

.completed .details-count{
  color: #16a116;
}

.remaining .details-count{
  color: #cc0033;
}

.details-item:not(:last-child){
  margin-right: 15px;
}

.submit-btn-wrapper{
  display: flex;
  align-items: center;
  margin: 0 15px;
}

.app-button.disabled{
  pointer-events: none;
  background: #cecece;
}
