<div class="header">Self assessment</div>
<div class="details">
  <div class="details-item completed">
    <span class="details-title">Complete</span>
    <span class="details-count">{{appStateService.getCompleteQuestionsCount()}}</span>
  </div>
  <div class="details-item remaining">
    <span class="details-title">Remaining</span>
    <span class="details-count">{{appStateService.getRemainingQuestionsCount()}}</span>
  </div>
</div>
<div class="submit-btn-wrapper">
  <a href="{{submit_url}}" class="app-button" [ngClass]="{disabled: !appStateService.canSubmitQuestionnaire()}">Submit</a>
</div>
