.questionnaire-container{
  display: flex;
  flex-grow: 1;
}

.left-menu{
  width: 400px;
  min-width: 400px;
}

.content-wrapper{
  flex-grow: 1;
}

.left-menu,
.content-wrapper{
  overflow: scroll;
}

:host{
  height: 100%;
  display: flex;
  width: 100%;
}
