/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./themes.scss";

/*TODO remove before deploy*/
body{
  margin: 0;
  font-family: "Helvetica", sans-serif;
}
.mat-expansion-panel-content .mat-expansion-panel-body{
  padding: 0;
}

.observation .mat-form-field-infix{
  border: 1px solid #cecece;
  padding: 10px;
}
